@import 'src/styles/imports';

.GettingStarted {
  background-color: $blue;
  color: #fff;

  h2 {
    font-size: 5.6rem;
    margin: 40px 0 0;
  }

  .container {
    max-width: 1024px;
    width: 100%;
    padding: 20px;
    margin: auto;
    text-align: center;
  }
}

.content {
  display: flex;
  align-items: center;
  padding-top: 80px;
}

.phone {
  width: 50%;
}

.guide {
  width: 50%;
  text-align: left;

  ul {
    padding: 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      gap: 20px;
      flex-wrap: nowrap;
      margin-bottom: 20px;
      cursor: pointer;

      span {
        display: grid;
        width: 48px;
        height: 48px;
        align-items: center;
        justify-content: center;
        border: 1px solid #fff;
        border-radius: 100%;
        flex: 0 0 auto;

        &:empty {
          border: none;
        }
      }

      &:hover {
        span:not(.empty) {
          background-color: #fff;
          color: $blue;
        }
      }
    }
  }
}

// video

.video {
  img {
    display: block;
    margin-top: 80px;
    width: 100%;
  }
}
