@import 'src/styles/imports';

.Header {
  color: #fff;
  max-width: 1024px;
  width: 100%;
  padding: 40px 20px;
  margin: auto;

  h1,
  h2 {
    font-size: 5.6rem;
  }

  .logo {
    img {
      height: 40px;
    }
  }
}

// main
.mainHeaderContent {
  display: flex;

  .left,
  .right {
    width: 50%;
  }
}

.cta {
  display: flex;
  align-items: center;
  gap: 40px;

  a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 6px 0;
    border-bottom: 2px solid #fff;
  }
}

// right
.right {
  padding: 40px;

  img {
    position: absolute;
  }

  .phone {
    bottom: 0;
    left: 80px;
    max-height: 100%;
  }

  .watch {
    bottom: 0;
    right: 80px;
    max-height: 50%;
  }
}

// left

// sub
.subHeaderContent {
  padding-top: 40px;
  display: flex;
  align-items: center;

  h2 {
    width: 50%;
  }

  p {
    width: 50%;
  }
}

.referenceImage {
  img {
    display: block;
    margin: 20px 0;
    width: 100%;
  }
}

// blocks
.blocks {
  .container {
    width: 100%;
    list-style: none;
    padding: 0;
    display: grid;
    grid: auto-flow / repeat(3, 1fr);
    gap: 20px;

    > div {
      height: 100%;
    }
  }
}

.blockImage {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.blockContent {
  background-image: linear-gradient(0deg, rgba(#000, 0.9), rgba(#000, 0.2));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;

  h3 {
    font-size: 2.4rem;
    margin: 0;
    padding: 80px 20px 0;
  }

  p {
    margin: 0;
    padding: 20px;
    align-self: flex-end;
  }
}

.strip {
  height: 8px;
  width: 100%;
  object-fit: cover;
  display: block;
}
