@import 'src/styles/imports';

.App {
  width: 100%;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    line-height: 1.2;
  }
}

button {
  background-color: $light-blue;
  color: #fff;
  font-family: 'Roboto';
  padding: 16px 40px;
  border: none;

  &[primary] {
    background-color: $blue;
  }

  &[secondary] {
    background-color: $grey;
    color: #000;
  }
}
