@import 'src/styles/imports';

.Accordion {
  border: 1px solid #333;
  margin-bottom: 20px;

  h3 {
    margin: 0;
    font-size: 2.4rem;
  }

  .title {
    background-color: $light-grey;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    img {
      transform: rotate(90deg);
      transition: all 0.3s ease-in-out;
    }

    &[active] {
      background-color: #fff;

      img {
        transform: rotate(0deg);
      }
    }
  }

  .content {
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  .children {
    padding: 0 20px 20px;

    p {
      margin: 20px 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
